@using IspitniRokovi.Models
@model Studiji
@{
    ViewBag.Title = "Dodaj studij";
}

<h2>@ViewBag.Title</h2>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.ime)</td>
            <td>@Html.TextBoxFor(model => model.ime, new { required="required" })</td>
        </tr>
    </table>
    <br />
    <button type="submit">Dodaj</button>
}

