@using IspitniRokovi.Models
@model Kolegiji
@{
    ViewBag.Title = "Dodaj kolegij";
}

<h2>@ViewBag.Title</h2>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.ime)</td>
            <td>@Html.TextBoxFor(model => model.ime, new { required="required"})</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.korisnik_id)</td>
            <td>@Html.DropDownListFor(model => model.korisnik_id, (SelectList)ViewBag.Profesori)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.studij_id)</td>
            <td>@Html.DropDownListFor(model => model.studij_id, (SelectList)ViewBag.Studiji)</td>
        </tr>
    </table>
    <br />
    <button type="submit">Dodaj</button>
}

