@using IspitniRokovi.Models
@model List<Studiji>
@{
    ViewBag.Title = "Popis studija";
}

<div class="mt-20"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-xs-12">
            <div class="well">
                <ul class="nav nav-list">
                    <li><a href="@Url.Action("PopisKorisnika","Admin")"><span class="glyphicon glyphicon-tasks" style="color:black;"></span> Korisnici</a></li>
                    <li><a href="@Url.Action("PopisIspita","Admin")"><span class="glyphicon glyphicon-tasks" style="color:black;"></span> Ispiti</a></li>
                    <li><a href="@Url.Action("PopisKolegija","Admin")"><span class="glyphicon glyphicon-tasks" style="color:black;"></span> Kolegiji</a></li>
                    <li class="btn-info"><a href="@Url.Action("PopisStudija","Admin")"><span class="glyphicon glyphicon-tasks" style="color:black;"></span> Studiji</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-xs-12">
            <div class="well">
                <div class="container">
                    <div class="row col-md-6 col-md-offset-2 custyle">
                        <table class="table table-striped custab table-bordered">
                            <thead>
                                <tr>
                                    <th>Naziv</th>
                                    <th class="text-center" style="margin-bottom:5px;">Action</th>
                                </tr>
                            </thead>
                            @foreach (Studiji s in Model)
                            {
                                <tr>
                                    <td>@s.ime</td>
                                    <td class="text-center"><a class='btn btn-info btn-xs' href="@Url.Action("UrediStudij", "Admin", new { Id = s.id })"><span class="glyphicon glyphicon-edit"></span> Uredi</a> <a href="@Url.Action("ObrisiStudij", "Admin", new { Id = s.id })" class="btn btn-danger btn-xs" onclick="return confirm('Sigurni ste da želite obrisati ovaj studij?\n Svi pod kolegiji i ispiti će biti obrisani')"><span class="glyphicon glyphicon-remove"></span> Izbriši</a></td>
                                </tr>
                            }
                        </table>
                        <a class='btn btn-success' href="@Url.Action("DodajStudij", "Admin")"><span class="glyphicon glyphicon-plus-sign"></span> Dodaj novi studij</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('[data-confirm]').click(function (e) {
            if (!confirm(jQuery(this).attr("data-confirm"))) {
                e.preventDefault();
            }
        });
    });
</script>